/* #ABC {
    background-color: black;
    color: aliceblue;
}
#ABC{
    background-color: brown;
    color: aliceblue;
}

.abc >li {
color: brown;
}

.abcd{
    background-color: coral;
}


.sec> a>span {
    
    color: brown;
} */

.headingp{
    color: blueviolet;
}

