/* p {
    font-family::'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */
/* p{
    font-size:50px;
} */

/* p{
    font-style:initial;
} */

/* p{
    text-transform:capitalize;
/* } */
/* p{
    text-decoration;
}
a{
    text-decoration: none;
}
p{
    line-height:100px;
}  */
/* p{
    line-height: 50px;
}

p{
    letter-spacing:20px ;
} */



/* 
p{
    word-spacing: 30px;
} */

/* 
#abc{
word-spacing: 40px;
} */


/* 

*/

/* p{
    text-align:justify;
} */



/* p,span{
    text-shadow: 10px 10px 10px color(srgb rgb(187, 31, 31) green blue);
} */

/* p{
    text-shadow: 5px 5px 5px red;
} */
/* .abc{
    background-color: aqua;
    box-shadow: 15px 15px 20px blue;
} */
/* 
 */
/* 
input{
    background-color: aqua;
}
input:hover{
    background-color: blue;
}
input:active{
    background-color: yellow;
}
input:focus{
    background-color: brown;
} */
/* input{
    background-color: aqua;
}

input:hover{
    background-color: blue;
}
input:active{
    background-color: yellow;
}
input:focus{
    background-color: brown;
} */

/* input:hover{
    background-color: aquamarine;
    
}

input:active{
    background-color: brown; 
{ */
/* input:focus{
    background-color: blue;
} */

/* input:focus{ */
/* background-color: brown */
/* } */
a{
    background-color: aqua;
}
a:visited{
    background-color: blueviolet;
}








