p{
    background-color: aqua;
    width: 50%;
border: 10px groove color blue;
}
    /* /* height: 200px;
    overflow:scroll; */
    /* border-width: 20px;
    border-color: black;
    border-style:groove solid;
} */