/* p{
    background-color: aqua;
    color: brown;
} */



/* .abc{
    background-color: black;
    color: aliceblue;
} */

/* h1,p {
    background-color: black;
    color: aliceblue;
} */
/* 

#SEC,{
    background-color: black;
    color: blueviolet;
} */

#sec{
    background-color: black;
    color: brown;
}
