/* *{
    background-color:black;
    color: white;
/* } */
/* h1,p{
    background-color: black;
    color: aliceblue;  */
}
/* p{
    background-color: black;
    color: aliceblue;
} */
/* 
    background-color: black;
    color: antiquewhite;
/* }  */
/* .text {
    background-color: blueviolet;
    color: aliceblue;
} */ 


/* 
.text {
    background-color: black;
    ||||||||||\\\\\|\\\\
} */



.pabc{
    background-color: brown;
}








